.chairman-message {
    background: #0F0F1B;
    .chairman-content-wrap {
        background: #fff;
        .chairman-content {
        	padding-left: 30px;
        	padding-right: 70px;
        	padding-top: 65px;
            .name-box {
            	margin-bottom: 30px;
                h3 {
                    margin: 0;
                    font-size: 28px;
                    color: #0F0F1B;
                    font-family: 'Merriweather';
                    font-weight: bold;
                    letter-spacing: -.03em;
                }
                p {
                    color: #949494;
                    font-size: 16px;
                    margin: 0;
                    margin-top: 5px;
                }
            }
            .qouted-text {
            	margin-bottom: 25px;
                p {
                    margin: 0;
                    color: #E73B00;
                    font-family: 'Merriweather';
                    font-size: 28px;
                    line-height: 38px;
                    letter-spacing: -.03em;
                    font-weight: bold;
                }
            }
            p {
                font-size: 14px;
                line-height: 24px;
                color: #737391;
                margin: 0;
                + p {margin-top: 15px;}
            }
        }
    }
}